body,div,p,ul,h1,h2{padding: 0; margin: 0;}
ul{display: none;}
a{text-decoration: none}

/*header*/
.header{
    width: 7.2rem;
    height: 0.96rem;
    background: #2aacff;

}
.header a{
    width: 0.2rem;
    height: 0.38rem;
    float: left;
    margin-left: 0.3rem;
    margin-right: 2.4rem;
    font-size: 0;
    margin-top: 0.3rem;
}
.header a img{
    width: 100%;
    height: 100%;

}
.header h2{
    font-size: 0.36rem;
    text-align: center;
    float: left;
    color: white;
    line-height: 0.96rem;
}
.top .pic{
    width: 4.63rem;
    height: 3.06rem;
    margin: 0.49rem auto 0.63rem auto;
}
.top .pic img{
    width: 100%;
    height: 100%;
}
.top .txt{
    font-size: 0.28rem;
    color:#a7a7a7 ;
    padding: 0.3rem;
    border-top: 0.01rem solid ;
    border-bottom: 0.01rem solid ;
}
.top .txt h2{
    font-size: 0.36rem;
    font-family: ו;
    color: black;
    margin-bottom: 0.2rem;
}
.top .txt span{
    font-size: 0.32rem;
    color: #d11f1f;
    font-weight: bold;
}
.middle{
    width: 7.2rem;
}
.middle p:after{
    content: "";
    display: block;
    width: 0;
    height: 0;
    clear: both;
}
.middle p a{
    font-size: 0.32rem;
    display: block;
    float: left;
    width: 3.58rem;
    height: 0.94rem;
    color: black;
    text-align: center;
    line-height: 0.94rem;
    border-bottom: 0.01rem solid #a7a7a7 ;
    font-weight: bold;
}
.middle a:first-child{
    border-right: 0.01rem solid #a7a7a7 ;
    border-bottom: 0.03rem solid #d11f1f;
    color: #d11f1f;
}
.middle .pic{
    width: 6.6rem;
    margin: 0.38rem auto 0.43rem auto;
}
.middle img{
    width: 100%;
}
.middle .pic2{
    width: 7.2rem;
}
.bottom{
    text-align: center;
    font-family: ו;
}
.bottom .text0{
    font-size: 0.4723rem;
    font-weight: bold;
    margin-top: 0.5rem;
}
.bottom .text1{
    font-size: 0.32rem;
    font-weight: bold;
    margin-top: 0.3rem;
}
.bottom .text2{
    font-size: 0.24rem;
    margin-top: 0.3rem;
    line-height: 0.43rem;
    color: #5c5c5c;
}
.bottom .pic{
    width: 6.6rem;
    margin: 0.41rem auto 0.61rem auto;
}
.bottom img{
    width: 100%;
}
.chicun{
    background:#e5e5e5;
    text-align: center;
    padding-top: 0.63rem;
    position: relative;
    padding-bottom: 0.8rem;
    margin-bottom: 0.205rem;
}
.chicun .text0{
    font-size: 0.4723rem;
    font-weight: bold;
}
.chicun .text1{
    font-size: 0.32rem;
    line-height: 0.6rem;
    margin: 0 0.3rem;
}
.chicun .pic{
    width: 4.65rem;
    margin: 0.5rem auto 0.47rem auto;
}
.chicun img{
    width: 100%;
}
.chicun .text2{
    font-size: 0.32rem;
}
.chicun .text3{
    font-size: 0.28rem;
    margin: 0.35rem 0 0.5rem 0;
    color: #5c5c5c;
}
.chicun .text3 span{
    color: #ff0000;
}
.chicun table{
    width: 6.6rem;
    margin: 0 auto;
    height: 4.23rem;
    font-size: 0.28rem;
}
.chicun td{
    width: 1.91rem;
    height: 0.54rem;
    padding-left: 0.3rem;
    text-align: left;
}
.chicun tr:nth-child(2n-1){
    background: white;
}
.chicun td:nth-child(3){
    color: #ff0000;
}
.chicun .zuo{
    display: block;
    width: 1.1rem;
    position: absolute;
    bottom: -0.485rem;
    left: 0.4rem;
}
.chicun .you{
    display: block;
    width: 1.98rem;
    position: absolute;
    bottom: -0.43rem;
    right: 0.3rem;
}
.dibu table{
    width: 6.6rem;
    margin: 0 auto;

}
.dibu td{
    width: 2.19rem;
    background: #c2c2c2;
    padding: 0.3rem 0;
}
.dibu td:nth-child(2){
    background: #b4b4b4;
}
.dibu td h2{
    text-align: center;
    font-size: 0.32rem;
    color: white;
}
.dibu td span{
    display: block;
    width: 1.23rem;
    margin: 0.35rem auto;
}
.dibu td img{
    width: 100%;
}
.dibu td p{
    font-size: 0.2rem;
    text-align: center;
    color: white;
}
.dibu .zi1{
    font-size: 0.28rem;
    text-align: center;
    margin: 0.42rem 0;
    color: #c5c5c5;
}
.dibu .pic{
    width: 2.04rem;
    margin:0 auto ;
}
.dibu img{
    width: 100%;
}
.dibu .zi2{
    font-size: 0.24rem;
    text-align: center;
    margin: 0.22rem 0 0.8rem 0;
}






